<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="lehanhcosmetic"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="lifeCycleURI"
               value="bundleclass://lehanhcosmetic/com.lehanh.pama.ui.E4LifeCycle">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/lehanhcosmetic/css/default.css">
         </property>
         <property
               name="appName"
               value="lehanhcosmetic">
         </property>
      </product>
   </extension>

</plugin>
